@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

:root{
    --main-font: 'Amatic SC', cursive;
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.firstparallel{
    background-image: url(./wolfgang-hasselmann-ELCFcIGbnxI-unsplash.jpg);
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.hero-text{
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5rem;
    color: beige;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.secondparallel{
    background-image: url(./naail-hussain-QB-1iTMnRUg-unsplash.jpg);

    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}